/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 /* Set the font and background color for the page */ 

body {
  background-color: #abcd4d; replace with your desired background color code */
}

.centered-text {
  text-align: center;
}

/* Style the header */ 
header { 
  background-color: #f1f8f8; 
  color: #fff; 
  padding: 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 

/* Style the logo */ 

.logo { 
  font-size: 24px; 
  font-weight: bold; 
  text-transform: uppercase; 
} 

/* Style the navigation menu */ 

nav { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 

nav ul { 
  list-style-type: none; 
  margin: 20; 
  padding: 20; 
} 

nav li { 
  display: inline-block; 
  margin-right: 20px; 
} 

nav a { 
  color: #c01111d2; 
  text-decoration: none; 
  font-size: 18px; 
  font-weight: bold; 
} 

/* Style the main content area */ 
main { 
  background-color: #f7efef; 
  padding: 20px; 
  border: 1px solid #009688; 
  margin-top: 20px; 
} 
  
/* Style links */ 
a { 
  color: #009688; 
  text-decoration: none; 
} 

a:hover { 
  text-decoration: underline; 
} 

/* Style form inputs */ 
form input[type="text"], form input[type="email"], form textarea { 
  background-color: #e5edef; 
  border: 1px solid #009688; 
  color: #d69f9f; 
  padding: 10px; 
  font-size: 18px; 
  margin-bottom: 20px; 
} 

form input[type="submit"] { 
  background-color: #009688; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 18px; 
  cursor: pointer; 
}
  
/* Style buttons */ 
button { 
  background-color: #009688; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 18px; 
  cursor: pointer; 
  margin-right: 20px; 
} 

button:hover { 
  background-color: #0e8dbb; 
} 

/* Apply letter-spacing to all text on the page */
body {
  letter-spacing: 0.1em;
}

/* Apply letter-spacing to specific elements */
h1 {
  letter-spacing: 0.2em;
}

p {
  letter-spacing: 0.05em;
}
